.tts table {
  background-color: #eee;
}

.tts table tr td input {
  width: 50px;
  height: 50px;
}

.tts table tr td label {
  position: absolute;
  padding: 2px;
}

.correct {
  background-color: green;
}
